<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



    <ion-item-group>
        <ion-item-divider color="light">
            <ion-icon name="key" color="keygold"></ion-icon> Acces & Securite
        </ion-item-divider>
        
        <ion-item>
            <ion-label fixed>Identifiant</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label fixed>Mot de passe</ion-label>
            <ion-input type="{{type}}"></ion-input>
           <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="managePassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
           <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="managePassword()"> <ion-icon name="eye"> </ion-icon> </button>
        </ion-item>
    
    </ion-item-group>

    <ion-item-group>
        
        <ion-item-divider color="light">
            <ion-icon name="person"></ion-icon> General
        </ion-item-divider>


          <ion-item>
                        <ion-label fixed>Nom & prenom</ion-label>
                        <ion-input type="text" value=""></ion-input>
                    </ion-item>

        <ion-item>

              
            <ion-label>Genre</ion-label>
            <ion-select [(ngModel)]="genre">

                <ion-option value="M" selected="true">Garcon</ion-option>
                <ion-option value="F">Fille</ion-option>

            </ion-select>
        </ion-item>


        <ion-item>

            <ion-label fixed>Etablissement</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Classe</ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>

    </ion-item-group>

    <ion-item-group>

        <ion-item-divider color="light">
            <ion-icon name="card" color="card"> </ion-icon> Paiement

        </ion-item-divider>
        <ion-item>
            <ion-label fixed>Paiement </ion-label>
            <ion-input type="text" value=""></ion-input>
        </ion-item>
    </ion-item-group>
<hr>
    <div padding>
        <button ion-button>Modifier</button>
    </div>




</ion-content>
